<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Кинотеатр Great-Pictures </title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="css/index.css">
    <link href="css2.css?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <meta property='og:title' content="Cinema Vean">
    <meta property="og:subtitle" content="Лучший кинотеатр для свиданий, вечеринок и дней рождений! Комфорт и уютная атмосфера">
    <meta property="og:type" content="article">


</head>
<body>
    <div class="container" id="app">
        <header>
            <div class="header-top flex-container">
                <div class="header-block">
                    <div class="header-logo"><img src="img/logo.png" alt=""></div>
                    <nav>
                        <ul>
                            <a href="#info">
                            <li>Информация</li>
                            </a>
                            <a href="#advantages">
                            <li>Преимущества</li>
                            </a>
                            <a href="#reservation">
                            <li>Залы</li>
                            </a>
                            <a href="#faq">
                            <li>FAQ</li>
                            </a>
                            <a href="#location">
                            <li>Где мы находимся</li>
                            </a>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="title-container">
                <h1 class="title-container_title">Great-Pictures</h1>
                <p class="title-container_subtitle">Лучший кинотеатр для свиданий, вечеринок и дней рождений! Комфорт и уютная атмосфера</p>

                <a href="#reservation">
                    <button class="title-container_button">Забронировать</button>
                </a>
            </div>
        </header>
        <main>
            <div id="info" class="info-container flex-container block-container">
                <div class="info-block" v-for="info in infos">
                    <img class="info-image" :src="info.icon" alt="">
                    <p class="info-title">{{ info.title }}</p>
                    <span class="info-subtitle">{{ info.subtitle }}</span>
                </div>
            </div>

            <div id="advantages" class="advantage-container block-container">
                <h1 class="title-block">Почему именно мы?</h1>
                <div class="advantage-block" v-for="advantage in advantages">
                    <img class="advantage-icon" :src="advantage.icon" alt="">
                    <p class="advantage-title">{{ advantage.title }}</p>
                    <p class="advantage-subtitle">{{ advantage.subtitle }}</p>
                </div>
            </div>

            <div id="reservation" class="reservation-container block-container">
                <h1 class="title-block">Наши залы</h1>
                <div class="reservation-content">
                    <div class="reservation-block" v-for="reservation in reservations">
                        <div class="reservation-header">
                            <img class="reservation-image" :src="reservation.image" alt="">
                        </div>
                        <div class="reservation-main">
                            <div class="reservation-title">
                                <p class="title">{{ reservation.title }}</p>
                                <span class="subtitle">{{ reservation.subtitle }}</span>
                            </div>
                            <ul class="reservation-info">
                                <li v-for="info in reservation.infos">{{ info.name }}</li>
                            </ul>
                        </div>
                        <div class="reservation-footer">
                            <button class="reservation">Забронировать</button>

                            <input name="amount" type="hidden" :value="reservation.price">
                            <input name="title" type="hidden" :value="reservation.title">
                            <input name="subtitle" type="hidden" :value="reservation.subtitle">
                        </div>
                    </div>
                </div>
            </div>

            <div id="faq" class="faq-container block-container">
                <h1 class="title-block">Ответы на ваши вопросы</h1>
                <div class="faq-block" v-for="faq in faqs">
                    <div class="faq-header">
                        <p>{{ faq.question }}</p>
                        <img class="faq-arrow" src="img/arrow.svg" alt="">
                    </div>
                    <div class="faq-content">
                        <p>{{ faq.answer }}</p>
                    </div>
                </div>
            </div>

            <div id="location" class="location-container">
                <h1 class="title-block">Где мы находимся</h1>
                <ul class="location-list">
                    <li v-for="location in location">
                        <img src="img/pin.svg" alt=""><span>
                            {{
 location.location
                            }}
                        </span>
                    </li>
                </ul>
            </div>

            <div id="review" class="review-container block-container">
                <h1 class="title-block">Отзывы</h1>
                <div class="review-content">
                    <div class="review-block" v-for="review in reviews">
                        <img class="avatar" :src="review.avatar" alt="">
                        <div class="content">
                            <p class="name">{{ review.name }}</p>
                            <span class="text">{{ review.text }}</span>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer>
            <p class="footer-text">© 2023 - {{new Date().getFullYear() }} antikinokzn.ru</p>
        </footer>

        <div class="reservation-modal">
            <div class="modal-content">
                <div class="modal-info">
                    <p id="reservation-title" class="title"></p>
                    <span id="reservation-subtitle" class="subtitle"></span>
                </div>

                <form method="post" id="payform" action="pay.php">
                    <!--для оплаты ссылка-->
                    <div class="modal-block">
                        <label>Ф.И.О</label>
                        <input name="customer" required="">
                    </div>
                    <div class="modal-block">
                        <label>Почта</label>
                        <!-- <input v-mask="mail" name="mail" v-model="inputVal" placeholder="example@mail.com" required="">-->
                        <input type="email" name="email" v-model="inputVal" placeholder="example@mail.com" required>

                    </div>
                    <div class="modal-block">
                        <label>Дата</label>
                        <input type="date" name="date" required="" :min="new Date().toJSON().slice(0,10)">
                    </div>
                    <div class="modal-block">
                        <label>Время</label>
                        <select name="time" required=""></select>
                    </div>
                    <div class="modal-block">
                        <label>Адрес:</label>
                        <select name="city" required="">
                            <option v-for="location in location">{{ location.location }}</option>
                        </select>
                    </div>
                    <div class="modal-additionally">
                        <p class="additionally-title">Дополнительные услуги</p>
                        <label class="container" v-for="additionally in additionally">
                            <span class="additionally-name">{{ additionally.name }} — {{ additionally.price }} руб.</span>
                            <input type="checkbox" class="additionally" :data-price="additionally.price">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <button class="reservation-button" type="submit"> Забронировать — <span id="total_price">0</span> руб.</button>
                    <button class="reservation-close">Отменить бронирование</button>

                    <input name="amount" type="hidden" id="reservation-price">
                    <input type="hidden" name="amount" id="hiddenAmount">
                </form>
            </div>
        </div>
    </div>

    <script src="ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="ajax/libs/v-mask/2.2.1/v-mask.min.js"></script>

    <script src="js/vue.js"></script>
    <script src="js/index.js"></script>
    <script src="js/time.js"></script>


    <script>
        const form = document.getElementById("payform");
        const priceSpan = document.getElementById("total_price");

        form.addEventListener("submit", function (e) {
            const price = parseInt(priceSpan.textContent) || 0;
            const hiddenInput = document.createElement("input");
            hiddenInput.type = "hidden";
            hiddenInput.name = "amount";
            hiddenInput.value = price;
            form.appendChild(hiddenInput);
        });
    </script>

    <!-- Smartsupp Live Chat script -->
    <script type="text/javascript">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = '9b6964d216307d07860e973021908b23c401e1fa';
        window.smartsupp || (function (d) {
            var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
            s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
            c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
            c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
        })(document);
    </script>
    <script src="modal.js"></script>
    <!-- Begin LeadBack code {literal} -->

    <link href="smartlid/css/style.css" type="text/css" rel="stylesheet">
    <script type='text/javascript'>
        $(function ($) {
            $.getScript('./smartlid/smartlid.js', function () {
                $('body').smartLid({

                });
            });

            function addStyle(href) {
                elem = document.createElement("link");
                elem.href = href;
                elem.rel = 'stylesheet';
                document.head.appendChild(elem);
            }
            addStyle('./smartlid/css/main.css');
        }(jQuery));
    </script><!-- End LeadBack code {/literal} -->


</body>

</html>